@font-face {
    font-family: 'NuCore Condensed';
    src: url('./assets/NuCore-Condensed-.otf') format('woff');
    font-display: swap;
}

:root {
    --font-size: 16px;

    --background-color-light: #fafafa;
    --background-color-dark: #121212;

    --text-color-light: #121212;
    --text-color-dark: #fafafa;

    --color-accent1: #d40000; /* anciennement #e40000 */
    --color-accent2: #006ae4;

    --border-size: 2px;
    --border-type: solid;
    --border-color-light: #121212;
    --border-color-dark: #fafafa;
    --border-light: var(--border-size) var(--border-type) var(--border-color-light);
    --border-dark: var(--border-size) var(--border-type) var(--border-color-dark);
}

body {
    background-color: var(--background-color-light);
    display: grid;
    font-family: "IBM Plex Sans";
    font-size: var(--font-size);
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 4rem auto 4rem;

    /* override browser default value */
    margin: 0;
}

header {
    align-items: center;
    background-color: var(--color-accent2);
    color: var(--text-color-dark);
    display: flex;
    flex-direction: row;
    grid-column: 1 / span 16;
    grid-row: 1;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;

    .brand {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 1rem;

        & #qr-code {
            height: 3rem;
            width: 3rem;
            margin-left: .5rem;

            & img {
                height: auto;
                max-width: 100%;
            }
        }

        & .logotype {
            font-family: "NuCore Condensed";
            font-size: 2.25rem;
            font-weight: 700;
            letter-spacing: .25rem;
            line-height: 1;
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 0;
        height: 100%;
        justify-content: flex-end;
        width: calc(100vw / 16 * 3);

        & a {
            align-items: center;
            border-left: var(--border-dark);
            /* border-bottom: var(--border-light); */
            color: var(--text-color-dark);
            display: flex;
            font-family: "Space Grotesk";
            font-weight: 700;
            justify-content: center;
            width: calc((100vw / 16) * 1 - 2px);
            text-decoration: none;

            &:last-of-type {
                border-right: var(--border-light);
            }

            &:hover {
                background-color: var(--color-accent1);
                color: var(--text-color-dark);
            }
        }
    }
}

main {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    gap: 4rem 0;

    #hero {
        background-image: url("./assets/hero2.jpg");
        background-size: cover;
        background-position: top;

        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-column: 1 / span 16;
        height: calc(80vh - 4rem);
        width: 100%;

        div {
            align-items: center;
            backdrop-filter: blur(24px);
            // background-color: var(--color-accent1);
            color: var(--text-color-dark);
            display: flex;
            font-family: "Space Grotesk";
            font-size: 5rem;
            font-weight: 700;
            justify-content: center;
            grid-column: 2 / span 5;
            grid-row: 8;
        }

        & nav {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            grid-column: 2 / span 3;
            grid-row: 12 / span 5;

            & a {
                background-color: var(--color-accent2);
                color: var(--text-color-dark);
                font-family: "NuCore Condensed";
                text-decoration: none;
                height: calc(100% / 18 * 4);
                display: flex;
                align-items: center;
                padding: 0 1rem;
            }
        }
    }

    section {
        grid-column: 3 / span 11;

        h1 {
            font-family: "Space Grotesk";
        }
    }


    .tiles {
        display: grid;
        grid-template-columns: repeat(14, 1fr);

        .tile {
            align-items: center;
            color: var(--text-color-dark);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            grid-column-end: span 4;
            // height: calc(100vh / 9 * 4);
            justify-content: flex-end;
            padding: 1rem 0 1rem;

            &:nth-of-type(1) {
                grid-column-start: 1;
            }

            &:nth-of-type(2) {
                grid-column-start: 6;
            }

            &:nth-of-type(3) {
                grid-column-start: 11;
            }

            img {
                max-width: calc(100% - 2rem);
            }

            h2 {
                font-family: "Space Grotesk";
                font-size: 2rem;
                margin: 0;
            }
        }
    }
}

footer {
    grid-column: 1 / span 16;
    grid-row: 3;
}


.color-accent-1 {
    color: var(--color-accent1);
}

.color-accent-2 {
    color: var(--color-accent2);
}

.bg-accent-1 {
    background-color: var(--color-accent1);
}

.bg-accent-2 {
    background-color: var(--color-accent2);
}

.bg-dark {
    background-color: var(--background-color-dark);
}

.font-nucore {
    font-family: "NuCore Condensed";
    font-weight: 700;
    font-size: 2rem;
}