@font-face {
    font-family: 'NuCore Condensed';
    src: url('./assets/NuCore-Condensed-.otf') format('woff');
    font-display: swap;
}

:root {
    --font-size: 18px;

    --background-color-light: #fafafa;
    --background-color-dark: #121212;

    --text-color-light: #121212;
    --text-color-dark: #fafafa;

    --color-accent1: #d40000;
    /* anciennement #e40000 */
    --color-accent2: #006ae4;

    --border-size: 2px;
    --border-type: solid;
    --border-color-light: #121212;
    --border-color-dark: #fafafa;
    --border-light: var(--border-size) var(--border-type) var(--border-color-light);
    --border-dark: var(--border-size) var(--border-type) var(--border-color-dark);
}

body {
    background-color: var(--background-color-light);
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Sans";
    font-size: var(--font-size);
    min-height: 100vh;

    /* override browser default value */
    margin: 0;
}

header {
    align-items: center;
    background-color: var(--color-accent2);
    color: var(--text-color-dark);
    display: flex;
    flex-direction: row;
    height: 4rem;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;

    .brand {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 1rem;

        & #qr-code {
            height: 3rem;
            width: 3rem;
            margin-left: .5rem;

            & img {
                height: auto;
                max-width: 100%;
            }
        }

        & .logotype {
            font-family: "NuCore Condensed";
            font-size: 2.25rem;
            font-weight: 700;
            letter-spacing: .25rem;
            line-height: 1;
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 0;
        height: 100%;
        justify-content: flex-end;

        & a {
            align-items: center;
            border-left: var(--border-dark);
            /* border-bottom: var(--border-light); */
            color: var(--text-color-dark);
            display: flex;
            font-family: "Space Grotesk";
            font-weight: 700;
            justify-content: center;
            padding: 0 1.5rem;
            text-decoration: none;

            &:last-of-type {
                border-right: var(--border-light);
            }

            &:hover {
                background-color: var(--color-accent1);
                color: var(--text-color-dark);
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    flex: 1;

    #hero {
        background-image: url("./assets/hero2.jpg");
        background-size: cover;
        background-position: top;

        display: flex;
        align-items: flex-end;
        padding-bottom: 5%;
        padding-left: 10%;
        box-sizing: border-box;
        height: calc(80vh - 4rem);
        width: 100%;

        div {
            align-items: center;
            backdrop-filter: blur(24px);
            /* background-color: var(--color-accent1); */
            color: var(--text-color-dark);
            display: flex;
            font-family: "Space Grotesk";
            font-size: clamp(3rem, 5vw, 5rem);
            font-weight: 700;
            justify-content: center;
            padding: 0 1rem;
            width: fit-content;
        }
    }

    section {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2rem;
        box-sizing: border-box;

        h1 {
            font-family: "Space Grotesk";
        }
    }


    .tiles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;

        .tile {
            align-items: center;
            color: var(--text-color-dark);
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 1rem;
            justify-content: flex-end;
            padding: 1rem;

            .img-wrapper {
                align-items: center;
                background-color: #fff;
                display: flex;
                padding: 1rem;
                justify-content: center;

                img {
                    height: auto;
                    max-width: calc(100% - 2rem);
                }
            }



            h2 {
                font-family: "Space Grotesk";
                font-size: clamp(1.25rem, 2.5vw, 2rem);
                margin: 0;
                text-align: center;
            }
        }
    }
}

footer {
    align-items: center;
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 1rem;

    &>div {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        height: 100%;
        justify-content: flex-start;

        h4 {
            margin: 0;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            min-width: calc(100vw / 18 * 2);
        }
    }
}

.full-grid-width {
    grid-column: 1 / -1;
}


.color-accent-1 {
    color: var(--color-accent1);
}

.color-accent-2 {
    color: var(--color-accent2);
}

.bg-accent-1 {
    background-color: var(--color-accent1);
}

.bg-accent-2 {
    background-color: var(--color-accent2);
}

.bg-dark {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark)
}

.font-nucore {
    font-family: "NuCore Condensed";
    font-weight: 700;
    font-size: 2rem;
}

.font-bold {
    font-weight: 700;
}