@font-face {
    font-family: 'NuCore Condensed';
    src: url('./assets/NuCore-Condensed-.otf') format('woff');
    font-display: swap;
}

:root {
    --font-size: 16px;

    --background-color-light: #fafafa;
    --background-color-dark: #121212;

    --text-color-light: #121212;
    --text-color-dark: #fafafa;

    --color-accent1: #e40000;
    --color-accent2: #006ae4;

    --border-size: 2px;
    --border-type: solid;
    --border-color-light: #121212;
    --border-color-dark: #fafafa;
    --border-light: var(--border-size) var(--border-type) var(--border-color-light);
    --border-dark: var(--border-size) var(--border-type) var(--border-color-dark);
}

body {
    background-color: var(--background-color-light);
    display: grid;
    font-family: "IBM Plex Sans";
    font-size: var(--font-size);
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 4rem auto 4rem;

    /* override browser default value */
    margin: 0;
}

header {
    align-items: center;
    display: grid;
    grid-column: 1 / span 18;
    grid-row: 1;
    grid-template-columns: repeat(18, 1fr);
    position: sticky;
    top: 0;
    z-index: 10;

    & nav {
        grid-column: 1 / span 16;
        display: flex;
        flex-direction: row;
        gap: 0;
        height: 100%;
        justify-content: flex-end;
        width: 100%;

        & a {
            align-items: center;
            background-color: var(--background-color-light);
            border-left: var(--border-light);
            border-bottom: var(--border-light);
            color: #000;
            display: flex;
            font-family: "Space Grotesk";
            font-weight: 700;
            justify-content: center;
            min-width: calc((100% / 16) * 2 - 2px);
            text-decoration: none;

            &:last-of-type {
                border-right: var(--border-light);
            }

            &:hover {
                background-color: var(--color-accent1);
                color: var(--text-color-dark);
            }
        }
    }
}

main {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-column: 1 / span 17;
    grid-row: 1 / span 2;

    & section {
        grid-column: 3 / span 14;

        & h1 {
            font-family: "Space Grotesk";
        }
    }
}

#gutter-right {
    align-items: center;
    background-color: var(--color-accent1);
    color: var(--text-color-dark);
    display: flex;
    grid-column: 18;
    grid-row: 1 / span 3;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
    position: sticky;
    top: 0;
    z-index: 10;

    & .logotype {
        padding: 1.5rem 0 0;
    }

    & #qr-code {
        padding: 0 0 .5rem;
    }
}

#hero {
    background-image: url("./assets/hero.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(18, 1fr);
    grid-column: 1 / span 17;
    height: 100vh;
    width: 100%;

    & div {
        border-bottom: .5rem solid var(--color-accent1);
        grid-column: 2 / span 3;
        grid-row: 4 / span 6;
        height: calc(100% - .5rem);
        overflow: clip;
        width: 100%;

        & img {
            max-width: 100%;
            height: auto;
        }
    }

    & nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        grid-column: 2 / span 3;
        grid-row: 12 / span 5;

        & a {
            background-color: var(--color-accent2);
            color: var(--text-color-dark);
            font-family: "NuCore Condensed";
            text-decoration: none;
            height: calc(100% / 18 * 4);
            display: flex;
            align-items: center;
            padding: 0 1rem;
        }
    }
}

footer {
    grid-column: 1 / span 16;
    grid-row: 3;
}

.logotype {
    font-family: "NuCore Condensed";
    font-size: 3vw;
    font-weight: 700;
    letter-spacing: .25rem;
    line-height: 1.1;
    text-orientation: sideways;
    writing-mode: sideways-rl;
}

#qr-code {
    & img {
        max-width: 4vw;
    }
}